<hr class="under-m-question-line" size="4"></hr>

<form class="form-horizontal go-bottom" action="{{ request.path }}" method="post">
    {% csrf_token %}
    {#<div class="mb-3 form-group">#}
    {#    <textarea class="form-control form-group" id="exampleFormControlTextarea1" placeholder="Enter your answer here..."#}
    {#              rows="3"></textarea>#}
    {#</div>#}
    <div class="col-md-12">
        <div class="form-group">{{ form.text }}</div>
    </div>
    <br>
    <button type="button submit" class="answ-btn btn btn-primary">Answer!</button>
</form>