<div class="question-tags-answers">
    <div class="answers">
        <a href="{% url 'question' pk=answer_question_block.id %}" role="button" class="answ-btn-num btn btn-primary">
            Answers<span class="badge badge-dark">{{ answer_question_block.answers.hottest | length }}</span>
        </a>
    </div>
    <div class="q-tags-h">
        Tags:
        {% for tags in answer_question_block.tags.all %}
            {% include "include/tag.html" %}
        {% endfor %}
    </div>
</div>