{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<script src="{% static 'jquery/jquery-latest.js' %}" type="text/javascript"></script>
<head>
    <meta charset="utf-8">
    <title>Sticky Footer Navbar Template · Bootstrap v5.0</title>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="icon" href="data:;base64,=">
    <link href="{% static  "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static  "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/my.css" %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">

{% include "include/navbar.html" %}

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row main-row">
            <div class="col-9 main-column">

                {% block content %}
                {% endblock content %}

            </div>
            <div class="col-3 secondary-column">
                {% block side %}
                    <div class="popular-tags-h">Popular Tags</div>
                    <div class="tags">
                        {% for tag in popular_tags %}
                            {% include "include/tag.html" %}
                        {% endfor %}
                    </div>

                    <div class="best-members-h">Best Members</div>
                    <div class="best-members">
                        {% for member in popular_members %}
                            <a href="#" class="member">{{ member.name }}</a>
                        {% endfor %}
                    </div>
                {% endblock side %}
            </div>
        </div>
    </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
    <div class="container">
        <span class="text-muted">Forum</span>
    </div>
</footer>

<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block like_js %}{% endblock %}


</body>

</html>