{% load static %}
<div class="answer react">
    <div class="plus-minus-counter">
        <div class="answer react">

            <button type="button" class="btn btn-success glyphicon glyphicon-thumbs-up"
                    data-id="{{ answer_question_block.id }}" data-type="{{ answer_question_block.type }}"
                    data-action="like">{{ answer_question_block.votes.likes.count }}</button>
            <button type="button" class="btn btn-danger glyphicon glyphicon-thumbs-down"
                    data-id="{{ answer_question_block.id }}" data-type="{{ answer_question_block.type }}"
                    data-action="dislike" onclick="">{{ answer_question_block.votes.dislikes.count }}</button>
        </div>

    </div>
</div>
