<div class="container" style="margin-left: 80px;">
    <div class="d-flex flex-row">
        <p>
        <h2 class="m-0 pb-5">New Question</h2>
        </p>
    </div>
</div>

<form role="form" class="form-horizontal go-bottom" action="{% url 'ask' %}" method="post">
    {% csrf_token %}
    {% for errors in messages %}
        <div class="col-8 border text-dark"
             style="height: 50px; background-color: #FFCDD2; border-radius: 10px;">
            <p style="color: #B71C1C; font-size: 20px;" class="px-3 pt-2 "> {{ errors }}
            </p>
        </div>
    {% endfor %}
    <div class="col-8 border shadow mb-5">
        <input id="title" name="title" type="title" required>
        <label for="name">Title</label>
    </div>
    <div class="col-8 border shadow mb-5">
        <textarea id="text" name="text" type="text" required></textarea>
        <label for="text">Text</label>
    </div>
    <div class="col-8 border shadow">
        <input id="tags" name="tags" required></input>
        <label for="tags">Tags</label>
    </div>

    <div class="d-flex align-items-center pt-5 form-group">
        <button type="button submit" class="btn btn-primary btn-lg"
                style="min-width:200px; min-height: 60px; color: black; background-color: grey;">Ask
        </button>
    </div>
</form>