<div class="change-menu">
    <div class="inactive-change-btn">
        <a href="{% url 'index' %}" class="">New Questions</a>
    </div>
    <div class="active-change-btn">
        Hot Questions
    </div>
</div>