<br>
<br>
<div class="container" style="margin-left: 80px;">
    <div class="d-flex flex-row">
        <p>
        <h2 class="m-0 pb-5">Log In</h2>
        </p>
    </div>
</div>

<form class="form-horizontal go-bottom" roll="form" action="/login/?next={{request.GET.next}}" method="post">
    {% csrf_token %}
    {% for errors in messages %}
        <div class="col-8 border text-dark"
             style="height: 50px; background-color: #FFCDD2; border-radius: 10px;">
            <p style="color: #B71C1C; font-size: 20px;" class="px-3 pt-2 "> {{ errors }}
            </p>
        </div>
    {% endfor %}

    <div class="col-8 border shadow mb-3 mt-5">
        <input id="login" name="username" type="login" required>
        <label for="login">Login</label>
    </div>

    <div class="col-8 border shadow mb-5">
        <input id="password" name="password" type="password" required></input>
        <label for="password">Password</label>
    </div>

    <div class="form-group d-flex">
        <button type="button submit" value="Login" class="btn btn-primary btn-lg"
                style="min-width:150px; min-height: 30px; color: black; background-color: grey;">Log In
        </button>
    </div>

</form>

<div class="col-3" style="margin-left: 100px; margin-top: 20px;">

    <a href="#" style="font-size: 20px;">Create new account!</a>
</div>