{% load static %}

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid header">
            <a class="navbar-brand logo-text" href="{% url 'ask' %}">Ask!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="search">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Enter thread name"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            <div class="profile-info">

                {% if user.is_authenticated %}
                    <!-- Logged in profile info -->
                    <div class="row row-profile-info">
                        <div class="col-4 avatar-space">
                            <img class="profile-avatar" src="{{ user.avatar.url }}" alt="">
                        </div>
                        <div class="col-8 profile-text-area">
                            <div class="profile-text">
                                {{ user.username }}
                            </div>

                            <div class="profile-btns">
                                <a href="{% url 'settings' %}" role="button"
                                   class="btn btn-success me-3">Settings
                                </a>
                                <a href="/logout/?from={{ request.get_full_path }}">
                                    <button type="button" class="btn btn-success">Log out
                                    </button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="log-in">
                        <a href="/login/?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ request.path_info }}{% endif %}"
                           role="button" class="log-in-btn btn btn-success">
                            Log in
                        </a>
                        <a href="{% url 'signup' %}" role="button"
                           class="log-in-btn btn btn-success">Register
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </nav>
</header>