<div class="change-menu">
    <div class="active-change-btn">
        New Questions
    </div>
    <div class="inactive-change-btn">
        <a href="{% url 'hot' %}" class="">Hot Questions</a>
    </div>
</div>