<nav aria-label="...">
    <ul class="pagination">
        {% if page.has_previous %}
            <li class="page-item"><a href="?page={{ page.previous_page_number }}" class="page-link">Previous</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">Page {{ page.number }} of {{ page.paginator.num_pages }}</span>
        </li>
        {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>