<div class="container" style="margin-left: 80px;">
    <div class="d-flex flex-row">
        <p>
        <h2 class="m-0 pb-5">Settings</h2>
        </p>
    </div>
</div>

<form role="form" class="go-bottom" class="form-horizontal" action="{% url 'settings' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for errors in messages %}
        <div class="col-8 border text-dark"
             style="height: 50px; background-color: #FFCDD2; border-radius: 10px;">
            <p style="color: #B71C1C; font-size: 20px;" class="px-3 pt-2 "> {{ errors }}
            </p>
        </div>
    {% endfor %}
    <div class="col-8 border shadow mb-3 mt-5">
        <input class="form-control" type="text" placeholder="{{ user.username }}" aria-label="" disabled>
    </div>
    <div class="col-8 border shadow">
        <input id="email" name="email" type="email" required>
        <label for="email">Email</label>
    </div>
    <div class="col-8 border shadow mb-3 mt-3">
        <input id="first_name" name="first_name" type="first_name" required>
        <label for="first_name">First Name</label>
    </div>
    <div class="col-8 border shadow mb-3 mt-3">
        <input id="last_name" name="last_name" type="last_name" required>
        <label for="last_name">Last Name</label>
    </div>

    <img class="profile-avatar w-25 h-25" src="{{ user.avatar.url }}" alt="">
    <br>
    <br>

 <div class="d-flex">
            <div>
                <input type="file" class="form-control-file" id="avatar" name="avatar"/>
            </div>
        </div>


    <br>

    <div class="d-flex">
        <button formnovalidate type="button submit" class="btn btn-primary btn-lg"
                style="min-width:150px; min-height: 30px; color: black; background-color: grey;">Save
        </button>
    </div>

</form>