<div class="container" style="margin-left: 80px;">
    <div class="d-flex flex-row">
        <p>
        <h2 class="m-0 pb-5">Registration</h2>
        </p>
    </div>
</div>

{#<form role="form" class="go-bottom">#}
<form class="form-horizontal go-bottom" role="form" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    {% for errors in messages %}
        <div class="col-8 border text-dark"
             style="height: 50px; background-color: #FFCDD2; border-radius: 10px;">
            <p style="color: #B71C1C; font-size: 20px;" class="px-3 pt-2 "> {{ errors }}
            </p>
        </div>
    {% endfor %}

    <div class="col-8 border shadow mb-3 mt-5">
        <input id="username" name="username" type="username" required>
        <label for="username">Login</label>
    </div>
    <div class="col-8 border shadow">
        <input id="email" name="email" type="email" required></input>
        <label for="email">Email</label>
    </div>
    <div class="col-8 border shadow mb-3 mt-3">
        <input id="first_name" name="first_name" type="first_name" required>
        <label for="first_name">First Name</label>
    </div>

    <div class="col-8 border shadow mb-3 mt-3">
        <input id="last_name" name="last_name" type="last_name" required>
        <label for="last_name">Last Name</label>
    </div>

    <div class="col-8 border shadow mb-3">
        <input id="password" name="password" type="password" required></input>
        <label for="password">Password</label>
    </div>
    <div class="col-8 border shadow mb-5">
        <input id="password_confirmation" name="password_confirmation" type="password" required></input>
        <label for="password_confirmation">Repeat password</label>
    </div>

    <div class="mb-3 row avatar-upl">
        <label for="form-control" class="col-sm-3 col-form-label">Upload avatar</label>
        <div class="mb-3 avatar-upl-form">
            <input class="form-control " type="file" id="formFile">
            <button type="button" class="btn btn-primary">Upload</button>
        </div>
    </div>


    <div class="d-flex">
        <button type="button submit" value="Register" class="btn btn-primary btn-lg"
                style="min-width:150px; min-height: 30px; color: black; background-color: grey;">Register
        </button>

    </div>
</form>