{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
        <div class="col-12">
    <div class="page-header">
        <div class="row">
            <div class="col-md-5">
                <h2>{{ user }}</h2>
            </div>
        </div>
    </div>
</div>
    <img class="profile-avatar" src="{{ user.avatar.url }}" style="width: 150px; height: 170px; float: left" alt="">
    <div class="profile-info">
        {% if user.first_name != null %} <h4><i>First name: </i> {{ user.first_name }}</h4> {% endif %}
        {% if user.last_name != null %} <h4><i>Last name: </i> {{ user.last_name }}</h4> {% endif %}
        {% if user.email != null %} <h4><i>Email: </i> {{ user.email }}</h4> {% endif %}
        {% if user != null %} <h4><i>Nick Name: </i> {{ user }}</h4> {% endif %}
        <hr>
        <h4>
            <i>Questions: </i>{{ user.question_set.all | length }}
            <i>Answers: </i>{{ puser.answer_set.all | length }}
        </h4>
    </div>
    <hr>
    <div class="activity">
        <table>
            <tr>
                <th><h3>Questions</h3></th>
                <th><h3>Answers</h3></th>
            </tr>
            <td class="questions">
                {% for q in user.question_set.hottest %}
                    <div class="list-group">
                        <a href="/question/{{ q.id }}/" class="list-group-item">
                            <div class="rate">
                                {% if q.rate <= 0 %}<img class="rate-icon" src="{% static 'img/stats_down.png' %}" alt="">
                                {% else %}
                                <img class="rate-icon" src="{% static 'img/stats_up.png' %}" alt="">
                                {% endif %}
                                {{ q.rate }}
                            </div>
                            <div class="header">
                                <h4 class="list-group-item-heading">{{ q.title }}</h4>
                                <h5>{{ q.date }}</h5>
                            </div>
                            {% for tag in q.tags.all %}
                                <span class="label label-danger">{{ tag.title }}</span>
                            {% endfor %}
                        </a>
                    </div>
                {% endfor %}
            </td>
            <td>
                {% for a in user.answer_set.hottest %}
                    <div class="questions list-group">
                        <a href="/question/{{ a.question_id }}/#{{ a.id }}" class="list-group-item">
                            <div class="rate">
                                {% if a.rate <= 0 %}<img class="rate-icon" src="{% static 'img/stats_down.png' %}" alt="">
                                {% else %}
                                <img class="rate-icon" src="{% static 'img/stats_up.png' %}" alt="">
                                {% endif %}
                                {{ a.rate }}
                            </div>
                            <h4>{{ a.question.title }}</h4>
                            <hr>
                            <p>{{ a.text }}</p>
                        </a>
                    </div>
                {% endfor %}
            </td>
        </table>
    </div>

{% endblock %}
