{% extends "include/base.html" %}
{% load static %}


{% block content %}

    {% include "include/main_question.html" with answer_question_block=main %}
    <hr>
    <h3><p class="fst-italic">Answers Block</p></h3>
    <br>
    {% for answer_question_block in page %}
        {% include "include/question_base.html" %}
    {% endfor %}

    {% include "include/pagination.html" %}
    {% if user.is_authenticated %}
        {% include "include/answer_text_area_and_answer_btn.html" %}
    {% endif %}
{% endblock content %}
{% block like_js %}
    <script src="{% static 'js/like.js' %}"></script>
{% endblock %}
